#map, #map_wrap {
  height: 90%;
}

/* Optional: Makes the sample page fill the window. */

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.slider {
  width: 100%;
}

.play {
  border-top: 10px solid white;
  border-bottom: 10px solid white;
  border-left: 20px solid black;
  height: 0px;

  align-self: center;
  justify-self: left;
}

.bottom-grid-container {
  height: 10%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  padding: 10px;
}

.input-grid-container {
  display: grid;
  grid-template-columns: 90% auto;
  grid-template-rows: auto;
  grid-gap: 10px;
  padding: 10px;
}

.label-grid-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-gap: 10px;
}

.year-label {
    font-size: 60px;

    align-self: center;
    justify-self: center;
}